@model Blog
@{
    ViewBag.Title = "Delete";
}

<h3>are you sure u want to delete this post?</h3>

<div>
    <h4>Blog</h4>
    <hr />
    <h5>@Model.Title</h5>
    <h5>@Model.Content</h5>

    <form asp-action="Delete">
        <input type="hidden" asp-for="BlogID" />
        <button type="submit" class="button button-red-back">Delete</button>
    </form>
</div>
