.text {
  margin-bottom: 20px;
}

textarea {
  width: 400px; height: 200px
}

button {
  background: #555555;
  color: white;
  padding: 5px 15px;
  font-size: 18px;
  border: none;
  border-radius: 5px;
}